body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-side {
  background-color: rgb(18, 18, 18);
  padding: 1rem;
  width: 100%;
}

.output-side {
  background-color: rgb(28, 28, 28);
  padding: 1rem;
  width: 100%;
}
